*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab

# Android Studio / IntelliJ
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle
.gradle
build/
app/build/

# Log
*.log

# Keystore files
*.jks
*.keystore

# Memory profiler heap dumps
*.hprof
